body {
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	color: #f15b31;	
	font-weight: 600;
	font-size: 18px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
h1,h2,a{
	font-family: Raleway;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h1{
	
	color: #0d2c40;	
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	color: #0d2c40;	
	font-weight: 600;
	font-size: 20px;
}

header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}

img {
	margin: 40px 8px;
}

main{
	width: 850px;
	margin: 35px auto;
}

nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px;
}

nav a {
	margin: 0 20px;
	color: #ffffff;
}

ul {
	list-style-type: none;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}