body {
	text-align: center;
}

a {
	text-decoration: none;
	color: #f15b31;	
	font-weight: 600;
	font-size: 18px;
}
h1,h2,a{
	font-family: Raleway;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h1{
	
	color: #0d2c40;	
	font-weight: 400;
	font-size: 45px;
}

h2 {
	color: #0d2c40;	
	font-weight: 600;
	font-size: 20px;
}

ul {
	list-style-type: none;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}